.login-container {
    display: flex;
    justify-content: space-between;
    background-image: url('../../../photos/login-background.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.login-right {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.login-title {
    text-align: center;
    color: #ffdb59;
}

.username-password-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #faf8f6;
}

.username-password-container input {
    background-color: transparent;
    border: #faf8f6 solid;
    border-radius: 5px;
    width: 300px;
}