.dashboard-container {
    height: 93vh;
    background-color: #faf8f6;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444440;
}

.dashboard-inside-container {
    display: flex;
    background-color: #cbd8bf;
    height: 93vh;
    border-radius: 10px;
}

/*************************** LEFT CONTAINER **************************/
.dashboard-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.dashboard-menu {
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

/* SEARCH BAR & NAME SECTION */
.search-container {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-bar {
    border: none;
    padding: 8px 32px 8px 8px;
    border-radius: 10px;
    width: 97%;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-icon {
    position: absolute;
    right: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.name {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight:lighter;
}

/* MENU LIST SECTION */
.menu-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 11px;
    margin-top: 10px;
    padding-left: 10px;
    letter-spacing: 1.5px;
}

.nav-link-container {
    display: flex;
    gap: 5px
}

.navlink-icon {
    width: 10px;
    height: 10px;
}

.nav-link {
    text-decoration: none;
}

/* BOTTOM SECTION */
.bottom-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 8px;
}

.left-bottom-container {
    display: flex;
    gap: 5px;
    font-size: 11px;
    letter-spacing: 1px;
    padding-left: 10px;
}

.setting {
    cursor: pointer;
}

/*************************** MIDDLE CONTAINER **************************/

.middle-container {
    background-color:#f1f6ea;
    width: 60%;
    padding: 15px;
}

.dashboard {
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 2px; 
}

.upcoming-container {
    background-color: #cbd8bf;
    border-radius: 10px;
    height: 50%;
}

.upcoming {
    font-weight: lighter;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    letter-spacing: .5px;
}

.ul-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}

.upcoming-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf8f6;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

/*************************** RIGHT CONTAINER **************************/


.right-container {
    width: 20%;
    padding: 15px;
}

.noticeboard {
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: 1px; 
}

.noticeboard-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.noticeboard-container-inside {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    gap: 8px;
    text-decoration: underline;
    cursor: pointer;
}